<template>
	<fieldset class="container">
		<p> {{points}} </p>
		<input type="number" name="r1" v-model:value="stats.Strength.v" min="8" :max="maxval(stats.Strength)"/>
		<input type="number" name="r2" v-model:value="stats.Dexterity.v" min="8" :max="maxval(stats.Dexterity)"/>
		<input type="number" name="r3" v-model:value="stats.Constitution.v" min="8" :max="maxval(stats.Constitution)"/>
		<input type="number" name="r4" v-model:value="stats.Intelligence.v" min="8" :max="maxval(stats.Intelligence)"/>
		<input type="number" name="r5" v-model:value="stats.Wisdom.v" min="8" :max="maxval(stats.Wisdom)"/>
		<input type="number" name="r6" v-model:value="stats.Charisma.v" min="8" :max="maxval(stats.Charisma)"/>
	</fieldset>
</template>

<script>
export default {
	data() {
		return {
			points: 27,
			stats: {
				Strength: {
					v: 8,
					min: 8,
					max: 15
				},
				Dexterity: {
					v: 8,
					min: 8,
					max: 15
				},
				Constitution: {
					v: 8,
					min: 8,
					max: 15
				},
				Intelligence: {
					v: 8,
					min: 8,
					max: 15
				},
				Wisdom: {
					v: 8,
					min: 8,
					max: 15
				},
				Charisma: {
					v: 8,
					min: 8,
					max: 15
				}
			},
			statvals: {
				8: 0,
				9: 1,
				10: 2,
				11: 3,
				12: 4,
				13: 5,
				14: 7,
				15: 9,
			},
			valstats: [8, 9, 10, 11, 12, 13, 13, 14, 14, 15],
			absmax: 15
		}
	},
	computed: {
		points: function() {
			var tmp = 27;
			for (var stat in this.stats) {
				tmp -= this.statvals[this.stats[stat].v];
			}
			return tmp;
		},
	},
	methods: {
		maxval: function(spanishInquisition) {
			var tmpmax = Math.min(this.absmax, (this.valstats[(this.points + this.statvals[spanishInquisition.v])]) ? this.valstats[(this.points + this.statvals[spanishInquisition.v])]: this.absmax);
			spanishInquisition.max = tmpmax;
			if (spanishInquisition.v < spanishInquisition.min) {
				spanishInquisition.v = spanishInquisition.min;
			}
			if (spanishInquisition.v > spanishInquisition.max) {
				spanishInquisition.v = spanishInquisition.max;
			}
			tmpmax = Math.min(this.absmax, (this.valstats[(this.points + this.statvals[spanishInquisition.v])]) ? this.valstats[(this.points + this.statvals[spanishInquisition.v])]: this.absmax);
			return tmpmax;
		}
	}
}

</script>