<template>
	<fieldset class="container">
		<input type="hidden" name="Strength" :value="stats.Strength"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Strength" name="Strength" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<input type="hidden" name="Dexterity" :value="stats.Dexterity"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Dexterity" name="Dexterity" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<input type="hidden" name="Constitution" :value="stats.Constitution"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Constitution" name="Constitution" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<input type="hidden" name="Intelligence" :value="stats.Intelligence"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Intelligence" name="Intelligence" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<input type="hidden" name="Wisdom" :value="stats.Wisdom"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Wisdom" name="Wisdom" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<input type="hidden" name="Charsima" :value="stats.Charisma"/>
		<label> <stat-select-helper :rolls="rolls" :selectval="selected.Charisma" name="Charisma" v-on:selectroll="select_roll"> </stat-select-helper></label>
		<div>
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			Select which roll group to use!
		</button>
		<ul class="dropdown-menu" overflow="scroll">
			<li v-for="roll_group in roll_vals"> <a  @click="choose_roll(roll_group)"> {{roll_group.roll_1}}, {{roll_group.roll_2}}, {{roll_group.roll_3}}, {{roll_group.roll_4}}, {{roll_group.roll_5}}, {{roll_group.roll_6}}  </a> </li>
		</ul>
	</div>
	</fieldset>
</template>

<script>
export default {
	data() {
		return {
			selected: {
				Strength: "default",
				Dexterity: "default",
				Constitution: "default",
				Intelligence: "default",
				Wisdom: "default",
				Charisma: "default"

			},
			roll_vals: JSON.parse(this.roll_col),
			rolls: {
				r1: {
					v: 0,
					n: "r1",
					h: "hidden"
				},
				r2: {
					v: 0,
					n: "r2",
					h: "hidden"
				},
				r3: {
					v: 0,
					n: "r3",
					h: "hidden"
				},
				r4: {
					v: 0,
					n: "r4",
					h: "hidden"
				},
				r5: {
					v: 0,
					n: "r5",
					h: "hidden"
				},
				r6: {
					v: 0,
					n: "r6",
					h: "hidden"
				},
				default: {
					v: 0,
					n: 'default',
					h: null
				}

			},
			stats: {
				Strength: 0,
				Dexterity: 0,
				Constitution: 0,
				Intelligence: 0,
				Wisdom: 0,
				Charisma: 0
			},
		}
	},
	props: ['roll_col'],
	methods: {
		select_roll: function(select_val, deselected, name) {
			this.stats[name] = this.rolls[select_val].v;
			console.log(select_val, deselected);
			this.selected[name] = select_val;
			if(deselected == "default") {
			} else {
				this.rolls[deselected]['h'] = null;
			}
			if(select_val == "default") {
				return;
			}
			this.rolls[select_val]['h'] = "hidden";
		},
		choose_roll: function(roll_group) {
			var rollmapping = {'r1':'roll_1', 'r2':'roll_2', 'r3':'roll_3', 'r4':'roll_4', 'r5':'roll_5', 'r6':'roll_6'};
			for(var roll_name in rollmapping) {
				console.log(roll_name);
				this.rolls[roll_name]['v'] = roll_group[rollmapping[roll_name]];
				this.rolls[roll_name]['h'] = null;
			}
			for (var stat in this.selected) {
				this.selected[stat] = "default";
			}
		}
	},
}
</script>