<template>
	<div>
		<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
			{{name}}: {{selectval == 'default' ? 'None' :rolls[selectval].v}}
		</button>
		<ul class="dropdown-menu">
			<li><a @click="selectRoll('default')">None</a></li>
			<li :hidden="selectval != 'r1' ? rolls.r1.h : null"><a @click="selectRoll(rolls.r1.n)">{{rolls.r1.v}}</a></li>
			<li :hidden="selectval != 'r2' ? rolls.r2.h : null"><a @click="selectRoll(rolls.r2.n)">{{rolls.r2.v}}</a></li>
			<li :hidden="selectval != 'r3' ? rolls.r3.h : null"><a @click="selectRoll(rolls.r3.n)">{{rolls.r3.v}}</a></li>
			<li :hidden="selectval != 'r4' ? rolls.r4.h : null"><a @click="selectRoll(rolls.r4.n)">{{rolls.r4.v}}</a></li>
			<li :hidden="selectval != 'r5' ? rolls.r5.h : null"><a @click="selectRoll(rolls.r5.n)">{{rolls.r5.v}}</a></li>
			<li :hidden="selectval != 'r6' ? rolls.r6.h : null"><a @click="selectRoll(rolls.r6.n)">{{rolls.r6.v}}</a></li>
		</ul>
	</div>
</template>

<script>
export default {
	data() {
		return {
		}
	},
	props: ['rolls', 'name', 'selectval'],
	methods: {
		selectRoll: function(rollname) {
			console.log(rollname, this.selectval, this.name);
			this.$emit('selectroll', rollname, this.selectval, this.name);
		}
	}
}
</script>