<template>
	<p>
		So simple, it just {{does_what}} {{response}}
	</p>
</template>

<script>
	export default {
        data() {
        	return {
        		does_what: 'works!'
        	}
        },
        props: ['response']
    }
</script>