// This is just a scss file for peter's use

.buf-top{
	margin-top: 20px;
}

body{
	padding-top: 70px;
}

.game-panel .panel-heading{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.game-panel .panel-body .upper{
	display: flex;
	align-items: baseline;
}
.game-panel .panel-body .upper span{
	padding: 0 1em;
}

.game-panel .panel-body .lower{
	margin-left: 2em;
	margin-bottom: .75em;
}
.game-panel .panel-body .username{
	font-size: 10pt;
}
.game-panel .panel-body .username:before{
	font-size: 10pt;
	margin-left: 1.25em;
	content: "by: "
}

.game-panel .panel-heading h1{
	font-size: 24pt;
}

.game-panel .panel-body h3{
	font-size: 16pt;
}

.game-panel .panel-body .user{
	margin-left: 1.25em;
}

.game-panel h1,
.game-panel h2,
.game-panel h3,
.game-panel h4,
.game-panel h5,
.game-panel h6{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.game-panel .panel-heading h2{
	font-size: 20pt;
}

.game-panel .panel-body h2{
	font-size: 18pt;
}

.game-panel a:link, .game-panel a:hover, .game-panel a:active, .game-panel a:visited{
	color: inherit;
	text-decoration: none;
}

.game-panel .panel-heading{
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.game-panel .panel-heading .game-owner:before{
	content: "GM: ";
}

.game-panel .panel-heading .game-owner{
	font-size: 12pt;
	float: right;
}

form.n-char{
	float: right;
	display: inline-block;
}